/* your styles go here */
.main-title {
  text-align: center;
  color: #fff;
  margin: 4em 0;
}

.main-title span {
  color: #e06c75;
}

#blink {
  color: #6494ed;
  animation: blink .7s infinite;
  font-size: 1.2em;
}
@keyframes blink {
  from {color: #272727;}
    to {color: #6494ed;}
}

.social-links {
  margin-top: 25px;
}
.social-links ul {
  list-style: none;
  padding: 0px;
}
.social-links ul li {
  display: inline-block;
  margin-right: 10px;
}

.social-links a,
.social-links a:link {
  color: #fff;
}

.social-links a:hover {
  color: #e06c75;
}

.intro-wrapper {
  height: 380px;
}

.intro {
  padding: 2em 4em;
  background: #fff;
  position: absolute;
  left: 0px;
}

.entry-content {
  margin-bottom: 0px;
}

.excerpt-meta span:last-child span {
  display: none;
}

.entry-meta span:last-child span {
  display: none;
}

@media (max-width: 875px){
  .intro-wrapper {
    height: 450px;
  }
}

@media (max-width: 745px){
  .intro-wrapper {
    height: 550px;
  }
}

@media (max-width: 515px){
  .intro-wrapper {
    height: auto;
  }
  .intro {
    position: relative;
  }
  .main-title h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 414px) {
  .site-title a {
    font-size: .7em;
  }
}

@media print {
  * {
    color: black;
  }

  .top-navigation,
  #toggle-navigation,
  .entry-title,
  .entry-meta,
  .entry-header {
    display: none;
  }

  h2 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  h2, h4, h6 {
    font-weight: bold;
  }

  p, li {
    font-size: 12px;
  }
  #site-title {
    color: black;
  }
  .site-title a:link, .site-title a:visited, .site-title a:hover, .site-title a:active, .site-title a:focus {
    color: black;
    opacity: 1;
  }
  .site-header {
    padding-bottom: 0px;
  }
  .site-description {
    color: black;
  }
}

/* RESUME STYLES */
.personal-info {
  display: none;
}

.personal-info p {
  margin: 0px;
}

@media print {
  .personal-info {
    display: block;
  }
  #site-footer {
    display: none;
  }
  #experience {
    page-break-before: always;
  }
}

/* CONTACT STYLES */

.form-button {
  background-color: #272727;
  color: #fff;
  border-radius: 20px;
  padding: 10px 30px;
  transition: all .3s;
  cursor: pointer;
  outline: none;
}

.form-button:hover {
  color: #333;
  background-color: #fff;
  border-color: #adadad;
}
