{{ define "body" }}

<body class="post-template-default single single-post single-format-standard ct-body singular singular-post not-front standard">
  {{ end }}
  
  {{ define "main" }}
  <div id="loop-container" class="loop-container">
    {{ if and (isset .Params "image") .Params.image }}
    <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-design tag-standard-2 tag-tagalicious tag-travel entry full-without-featured odd excerpt-1">

      <div class='featured-image lazy lazy-bg-image' data-background="{{ .Params.image | absURL }}">
      </div>
      {{ else }}

      <div class="post type-post status-publish format-standard hentry category-standard category-travel entry full-without-featured odd excerpt-1">

        {{ end }}
        <div class="entry-meta">
          {{ range .Params.categories }}
          <span class="category">
            <a href="/categories{{ . | relURL }}">{{ . }}</a>
              <span> | </span>
          </span>
          {{ end }}
        </div>
        <div class='entry-header'>
          <h1 class='entry-title'> {{ .Title }}</h1>
        </div>
        <div class="entry-container">
          <div class="entry-content">
            <article>
              {{ .Content }}
            </article>
          </div>
      <div class='entry-meta-bottom'>
        {{ if .Params.pageLink}}
          <a class="more-link" href="{{ .Params.pageLink}}" target="_blank" >View live</a>
        {{ end }}
      </div>

</div>
</div>

<section id="comments" class="comments">
  {{ template "_internal/disqus.html" . }}
</section>
</div>

{{ end }}
