<div class="main-title">
  <h2><span>&lt;</span>Front-end developer<span>/&gt;</span> <br/>
      <span>&lt;</span>Designer<span>/&gt;</span><span id="blink">|</span>
  </h2>
  <div class="social-links">
    <ul>
      <li><a href="https://github.com/tyronwyt"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="https://codepen.io/tyronw/"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/tyronwytrykowski/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/TyronRGB"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <p>South African born, and living in London.<br/>I have a passion for all things digital and creatively solving problems.</p>
</div>
